<!DOCTYPE html>
<html lang="fr" style="background-color: teal">
<head>
    <meta charset="UTF-8">
    <title>Transcode</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="w3-container w3-green">
        <h1 class="w3-center">Bienvenue sur Transcode !</h1>
        <a href="login" ><button id="bouton_connexion" class="w3-btn w3-white w3-hover-blue w3-border w3-round-large w3-right">Connexion</button></a>
    </div>
    <div class="w3-card w3-center">
        <p>Transformez votre code, vidéo et plus encore pour 1€, à ce prix là, c'est donné !</p>
        <a href="submit" ><button id="bouton_submit" class="w3-btn w3-green w3-hover-blue w3-border w3-round-large w3-center">Soumettre un fichier vidéo</button></a>
        <a href="submit" ><button id="bouton_submit" class="w3-btn w3-green w3-hover-blue w3-border w3-round-large w3-center">Soumettre un fichier audio</button></a>

    </div>

</body>
</html>