<!DOCTYPE html>
<html lang="fr" style="background-color: teal">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <a href="home" ><button id="bouton_accueil" class="w3-btn w3-white w3-border w3-round-large w3-right">Accueil</button></a>

    <div class="w3-container w3-center">
        <h1>Connexion</h1>
        <form class="w3-container">
            <label for="Mail">Adresse email : </label>
            <input type="text" name="Mail" id="Mail"/><br>
            <label for="MDP">Mot de passe : </label>
            <input type="text" name="MDP" id="MDP"/><br>
            <button  type="submit" id="bouton_submit" class="w3-btn w3-white w3-border w3-round-large w3-center">Valider</button>

        </form>
        <a href="signup" ><button id="bouton_inscription" class="w3-btn w3-white w3-border w3-round-large w3-center">Inscription</button></a>
    </div>

</body>
</html>