<!DOCTYPE html>
<html lang="fr" style="background-color: teal">
<head>
    <meta charset="UTF-8">
    <title>Submit</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
<a href="home" ><button id="bouton_accueil" class="w3-btn w3-white w3-border w3-round-large w3-right">Accueil</button></a>
<a href="home" ><button id="bouton_deconnexion" class="w3-btn w3-white w3-border w3-round-large w3-right">Deconnexion</button></a>
<div class="w3-container w3-center">
    <h1>Informations personelles</h1>
    <label>Nom : </label><br>
    <label>Prénom : </label><br>
    <label>Adresse mail : </label><br>
    <label>Date d'anniversaire  : </label><br>
    <a href="files"><button id="bouton_historique" class="w3-btn w3-white w3-border w3-round-large w3-center">Consulter mes fichiers</button></a>



</div>

</body>
</html>