<!DOCTYPE html>
<html lang="fr" style="background-color: teal"><head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <a href="home" ><button id="bouton_accueil" class="w3-btn w3-white w3-border w3-round-large w3-right">Accueil</button></a>

    <div class="w3-container w3-center">
        <h1>Inscription</h1>
        <form class="w3-container">
            <label for="Nom">Nom : </label>
            <input type="text" name="Nom" id="Nom"/><br>
            <label for="Prenom">Prenom : </label>
            <input type="text" name="Prenom" id="Prenom"/><br>
            <label for="Mail">Adresse email: </label>
            <input type="text" name="Mail" id="Mail"/><br>
            <label for="Anniversaire">Date de naissance : </label>
            <input type="text" name="Anniversaire" id="Anniversaire"/><br>
            <button  type="submit" id="bouton_submit" class="w3-btn w3-white w3-border w3-round-large w3-center">Valider</button>
        </form>
        <button id="bouton_inscription_google" class="w3-btn w3-white w3-border w3-round-large w3-center">S'inscrire avec son compte Google</button>
        <button id="bouton_inscription_fb" class="w3-btn w3-white w3-border w3-round-large w3-center">S'inscrire avec son compte Facebook</button>

    </div>


</body>
</html>