<!DOCTYPE html>
<html lang="fr" style="background-color: teal">
<head>
    <meta charset="UTF-8">
    <title>Submit</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
    <a href="home" ><button id="bouton_accueil" class="w3-btn w3-white w3-border w3-round-large w3-right">Accueil</button></a>
    <div class="w3-container w3-center">
        <h1>Payement</h1>
        <form class="w3-container">
            <label for="NumCarteCredit">Numéro de carte de crédit : </label>
            <input type="text" name="NumCarteCredit" id="NumCarteCredit"/><br>
            <label for="DateExpi">Date d'expiration : </label>
            <input type="text" name="DateExpi" id="DateExpi"/><br>
            <label for="Code">Code de sécurité :  </label>
            <input type="text" name="Code" id="Code"/><br>
            <button  type="submit" id="bouton_submit" class="w3-btn w3-white w3-border w3-round-large w3-center">Valider</button>
        </form>


    </div>

</body>
</html>